server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce
    username: postgres
    password: postgres

  jpa:
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379

services:
  product-service:
    url: http://localhost:8082

logging:
  level:
    com.ecommerce: DEBUG
